<html>
  <head>
    <title>P4</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='dice.png') }}">

    <link rel="stylesheet" href="/static/bower_components/bootstrap/dist/css/bootstrap.min.css" />

  </head>
  <body>
    <div class="jumbotron text-center">
      <img src="{{ url_for('static', filename='dice.png') }}" />
      <h1>P4</h1>
      <p>Programación de una aplicación con servicios web</p>
    </div>
<!-- TODO Valores guardados  -->
<!-- TODO DATO 1: Post para umbral histórico -->
<!-- TODO Respuesta al post con valores que superen el umbral -->
<!-- TODO DATO 2: Valor medio: Sacar valor medio e indicar a qué base de datos pertenece  -->
<!-- TODO DATO 3: Sacar gráficas de la base de datos externa  -->

<!-- TODO EXTRA  -->
<!-- TODO DATO 4: En lugar de umbral histórico, leer datos hasta que lo supere y contestar con SSE o web pusher -->
<!-- TODO Multiusuario (+ oauth O-O ) -->
<!-- TODO En lugar de VM, docker -->

    <div class="container">
      <!-- <div>
        <b>{{ t() }}</b>
      </div> -->
      <table class="table table-striped">
        <thead>
          <tr>
            <td>
              Time
            </td>
            <td>
              Value
            </td>
          </tr>
        </thead>
        <tbody>
          {% for value in values %}
            <tr><td>{{ value.date | datetime }}</td><td>{{ value.value }}</td></tr>
          {% endfor %}
        </tbody>
      </table>
      <div class="row">
        <div class="col-sm-4">
          <h3>Column 1</h3>
          <p>Lorem ipsum dolor..</p>
          <p>Ut enim ad..</p>
        </div>
        <div class="col-sm-4">
          <h3>Column 2</h3>
          <p>Lorem ipsum dolor..</p>
          <p>Ut enim ad..</p>
        </div>
        <div class="col-sm-4">
          <h3>Column 3</h3>
          <p>Lorem ipsum dolor..</p>
          <p>Ut enim ad..</p>
        </div>
      </div>
    </div>

    <script src="/static/bower_components/jquery/dist/jquery.min.js"></script>
    <script src="/static/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
  </body>
</html>
