<html>
  <head>
    <title>P4</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='dice.png') }}">

    <link rel="stylesheet" href="/static/bower_components/bootstrap/dist/css/bootstrap.min.css" />

  </head>
  <body>
    <div class="jumbotron text-center">
      <img src="{{ url_for('static', filename='dice.png') }}" />
      <h1>P4</h1>
      <p>Programación de una aplicación con servicios web</p>
    </div>
<!-- TODO Valores guardados  -->
<!-- TODO DATO 1: Post para umbral histórico -->
<!-- TODO Respuesta al post con valores que superen el umbral -->
<!-- TODO DATO 2: Valor medio: Sacar valor medio e indicar a qué base de datos pertenece  -->
<!-- TODO DATO 3: Sacar gráficas de la base de datos externa  -->

<!-- TODO EXTRA  -->
<!-- TODO DATO 4: En lugar de umbral histórico, leer datos hasta que lo supere y contestar con SSE o web pusher - https://github.com/iurisilvio/Flask-Pusher-->
<!-- TODO Multiusuario (+ oauth O-O ) -->
<!-- TODO En lugar de VM, docker -->
    <div class="container">
      <div class="row">
        <div class="col-md-4 col-sm-4">
          <form action="/" method="post">
            <h2>Por umbral</h2>
            Min:<br>
            <input name="min_threshold" type="number" value="{% if method == 'POST'  and 'min_threshold' in request.form %}{{ request.form['min_threshold'] }}{% endif %}"></input><br>
            Max:<br>
            <input name="max_threshold" type="number" value="{% if method == 'POST' and 'max_threshold' in request.form %}{{ request.form['max_threshold'] }}{% endif %}"></input><br>
            <input type="submit">
          </form>
        </div>
        <div class="col-md-4 col-sm-4">
            <h2>Valor medio</h2>
            <a href="?avg"><input type="submit"></a>
        </div>
        <div class="col-md-4 col-sm-4">
            <h2>Gráficas</h2>
            <input type="submit" onclick="alert('Xively no ofrece servicio de gráficas')">
        </div>
      </div>
      <!-- <div>
        <b>{{ t() }}</b>
      </div> -->
      {% if method == 'GET' %}
        {% if avg %}
          <h2>Media</h2>
          <h1>{{ avg }}</h1>
        {% endif %}
        <h2>Valores</h2>
        <table class="table table-striped">
          <thead>
            <tr>
              <td>
                Time
              </td>
              <td>
                Value
              </td>
            </tr>
          </thead>
          <tbody>
            {% for value in values %}
              <tr><td>{{ value.date | datetime }}</td><td>{{ value.value }}</td></tr>
            {% endfor %}
          </tbody>
        </table>
      {% endif %}
      {% if method == 'POST' %}
      <div class="row">
        <div class="col-md-6 col-sm-6">
          <h2>Valores max</h2>
          <table class="table table-striped">
            <thead>
              <tr>
                <td>
                  Time
                </td>
                <td>
                  Value
                </td>
              </tr>
            </thead>
            <tbody>
              {% for value in values['max'] %}
                <tr><td>{{ value.date | datetime }}</td><td>{{ value.value }}</td></tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
        <div class="col-md-6 col-sm-6">
          <h2>Valores min</h2>
          <table class="table table-striped">
            <thead>
              <tr>
                <td>
                  Time
                </td>
                <td>
                  Value
                </td>
              </tr>
            </thead>
            <tbody>
              {% for value in values['min'] %}
                <tr><td>{{ value.date | datetime }}</td><td>{{ value.value }}</td></tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
      {% endif %}
      <!-- <div class="row">
        <div class="col-sm-4">
          <h3>Column 1</h3>
          <p>Lorem ipsum dolor..</p>
          <p>Ut enim ad..</p>
        </div>
        <div class="col-sm-4">
          <h3>Column 2</h3>
          <p>Lorem ipsum dolor..</p>
          <p>Ut enim ad..</p>
        </div>
        <div class="col-sm-4">
          <h3>Column 3</h3>
          <p>Lorem ipsum dolor..</p>
          <p>Ut enim ad..</p>
        </div>
      </div> -->
    </div>

    <script src="/static/bower_components/jquery/dist/jquery.min.js"></script>
    <script src="/static/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
  </body>
</html>
