<html>
  <head>
    <title>P4</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='dice.png') }}">

    <link rel="stylesheet" href="/static/bower_components/bootstrap/css/bootstrap.min.css" />
    <style>
      .card{
        margin: 10px 0;
      }
    </style>
    <script>
      function umbralAsync(){
        var min = $('#min_threshold').val();
        var max = $('#max_threshold').val();
        $.post("/umbral_async", {'min_threshold': min, 'max_threshold': max});
      }
    </script>
  </head>
  <body>
    <div class="jumbotron text-center">
      <img src="{{ url_for('static', filename='dice.png') }}" />
      <h1>P4</h1>
      <p>Programación de una aplicación con servicios web</p>
    </div>
<!-- TODO Valores guardados  -->
<!-- TODO DATO 1: Post para umbral histórico -->
<!-- TODO Respuesta al post con valores que superen el umbral -->
<!-- TODO DATO 2: Valor medio: Sacar valor medio e indicar a qué base de datos pertenece  -->
<!-- TODO DATO 3: Sacar gráficas de la base de datos externa  -->

<!-- TODO EXTRA  -->
<!-- TODO DATO 4: En lugar de umbral histórico, leer datos hasta que lo supere y contestar con SSE o web pusher - https://github.com/iurisilvio/Flask-Pusher-->
<!-- TODO Multiusuario (+ oauth O-O ) -->
<!-- TODO En lugar de VM, docker -->
    <div class="container">
      <div class="row">
        <div class="col">
            <div class="card">
              <div class="card-header">
                <h4 class="card-title">Valor medio</h4>
              </div>
              <div class="card-body">
                {% if method == 'GET' and avg %}
                  <h5>{{ "%.02f" % avg }}</h5>
                {% endif %}
                <a href="?avg"><button class="btn btn-primary">Obtener media</button></a>
              </div>
            </div>
            <div class="card">
              <div class="card-header">
                <h4 class="card-title">Umbral</h4>
              </div>
              <div class="card-body">
                <form action="/" method="post">
                  <div class="form-group">
                    <label for="min_threshold">Min</label>
                    <input id="min_threshold" class="form-control" name="min_threshold" type="number" value="{% if method == 'POST'  and 'min_threshold' in request.form %}{{ request.form['min_threshold'] }}{% endif %}"></input>
                  </div>
                  <div class="form-group">
                    <label for="max_threshold">Max</label>
                    <input id="max_threshold" class="form-control" name="max_threshold" type="number" value="{% if method == 'POST' and 'max_threshold' in request.form %}{{ request.form['max_threshold'] }}{% endif %}"></input>
                  </DIV>
                  <button type="submit" class="col btn btn-primary">Valores por umbral</button>
                </form>
                <button class="col btn btn-secondary" onclick="umbralAsync()">Notificar por umbral</button>
              </div>
            </div>
            {% if method == 'GET' %}
            <div class="card">
              <div class="card-header">
                <h4 class="card-title">Gráficas</h4>
              </div>
              <div class="card-body">
                <div id="chart_div" style="height: 450px;"></div>
                <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
                <script type="text/javascript">
                 google.charts.load('current', {'packages':['line', 'corechart']});
                 google.charts.setOnLoadCallback(drawChart);

                 function drawChart() {

                   var data = new google.visualization.DataTable();
                   data.addColumn('datetime', 'Date');
                  data.addColumn('number', 'Value');
                  data.addRows([
                    {% for value in values |  sort(attribute='date') %}
                    [ new Date(Date.parse("{{ value.date | datetime }}")), {{ value.value }} ],
                    {% endfor %}
                  ]);

                   var options = {
                     title: 'Distribución de valores por tiempo',
                     curveType: 'function'
                   };

                   var chart = new google.visualization.LineChart(document.getElementById('chart_div'));

                   chart.draw(data, options);
                 }
                 window.onresize = drawChart;
                </script>
              </div>
            </div>
            {% endif %}
          </div>

          <div class="col">
            {% if method == 'GET' %}
            <h4>Valores</h4>
            <table class="table table-stripped">
              <thead>
                <th scope="col">Tiempo</th>
                <th scope="col">Valor</th>
              </thead>
              <tbody>
                {% for value in values | sort(attribute='date') %}
                  <tr><td>{{ value.date | datetime }}</td><td>{{ value.value }}</td></tr>
                {% endfor %}
              </tbody>
            </table>
          {% endif %}
          {% if method == 'POST' %}
          <div class="row">
            <div class="col">
              <h2>Valores max</h2>
              <table class="table table-stripped">
                <thead>
                  <th scope="col">Tiempo</th>
                  <th scope="col">Valor</th>
                </thead>
                <tbody>
                  {% for value in values['max'] | sort(attribute='date')  %}
                    <tr><td>{{ value.date | datetime }}</td><td>{{ value.value }}</td></tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
            <div class="col">
              <h2>Valores min</h2>
              <table class="table table-stripped">
                <thead>
                  <th scope="col">Tiempo</th>
                  <th scope="col">Valor</th>
                </thead>
                <tbody>
                  {% for value in values['min'] | sort(attribute='date') %}
                    <tr><td>{{ value.date | datetime }}</td><td>{{ value.value }}</td></tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
          {% endif %}
        </div>
      </div>
    </div>
  </div>

  <script src="/static/bower_components/jquery/dist/jquery.min.js"></script>
  <script src="/static/bower_components/bootstrap/js/bootstrap.min.js"></script>
  <script src="/static/bower_components/pusher-js/dist/web/pusher.min.js"></script>
  <script>

   // Enable pusher logging - don't include this in production
   Pusher.logToConsole = true;

   var pusher = new Pusher('0bc1ed07e5a70dc76514', {
     cluster: 'eu',
     encrypted: true
   });

   var channel = pusher.subscribe('my-channel');
   channel.bind('my-event', function(data) {
     alert(data.message);
   });
 </script>
  </body>
</html>
